* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.App {
	font-family: 'Karla', sans-serif;
	display: flex;
	flex-direction: column;
	height: 100svb;
}

.Navbar {
	display: flex;
	align-items: center;
	background: linear-gradient(90deg, #672280, #a626d3);
	height: 91px;
	flex-grow: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5);
}

.Navbar > img {
	margin-left: 26px;
	margin-right: 5px;
}

.Navbar > h2 {
	margin-right: auto;
	font-weight: 700;
	color: #ffffff;
}

.Navbar > h3 {
	color: #ffffff;
	font-weight: 400;
	margin-right: 27px;
}

.main {
	background-color: #E5E5E5
	color: #ffffff;
	padding: 36px;
}

.form{
	display: grid;
	grid-template: 40px 40px / 1fr 1fr;
	gap: 17px;
	font-family: 'Karla', sans-serif;
}

.form--input {
	font-family: 'Karla', sans-serif;
	border-radius: 5px;
}


.getMemeButton {
	grid-column: 1 / -1;
	background: linear-gradient(90deg, #672280, #a626d3);
	color: #ffffff;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

.getMemeButton:hover{
	filter: brightness(80%);
}

.memeImg {
	padding-top: 36px;
	position: relative;
	z-index: -1;
	display: flex;
	justify-content: center;
}

.meme--text{
	text-transform: uppercase;
	letter-spacing: .03rem;
	position: absolute;
	left: 50%;
	transform: translateX( -50%);
	color: #ffffff;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 2.5rem;
	text-shadow:
    -2px -2px 0 #000, /* top left */
    2px -2px 0 #000, /* top right */
    -2px 2px 0 #000, /* bottom left */
    2px 2px 0 #000; /* bottom right */
}

.top{
	top: 2%;
}

.bottom{
	bottom: 2%;
}

